body {
    background: url('../img/backgroud/freecell_bg.png');
    background-repeat: no-repeat;
    /* font-family: 'Noto Sans TC'; */
    background-size: cover;
}

@font-face {
    font-family: Haettenschweiler-Regular;
    src: url('../font/Haettenschweiler-Regular.ttf');
}

.navtext {
    font-family: Haettenschweiler-Regular;
}

#main {
    width: 1820px;
    height: 1050px;
    margin: auto;
    position: relative;
    top: 50px;
}

.topnav {
    width: 1820px;
    height: 250px;
    margin: auto;
}

.topnav_left {
    width: 835px;
    height: 250px;
    float: left;
}

.topnav_right {
    width: 835px;
    height: 250px;
    float: right;
}

.navtext {
    color: #5E2F2E;
    font-size: 70px;
    text-align: center;
}

.cardbox {
    background-image: url('../img/card/card_53.png');
    background-repeat: no-repeat;
    width: 160px;
    height: 210px;
    margin-right: 15px;
}

.carda {
    background-image: url('../img/card/card_54.png');
    background-repeat: no-repeat;
    width: 160px;
    height: 210px;
    margin-right: 15px;
}

.cardb {
    background-image: url('../img/card/card_55.png');
    background-repeat: no-repeat;
    width: 160px;
    height: 210px;
    margin-right: 15px;
}

.cardc {
    background-image: url('../img/card/card_56.png');
    background-repeat: no-repeat;
    width: 160px;
    height: 210px;
    margin-right: 15px;
}

.cardd {
    background-image: url('../img/card/card_57.png');
    background-repeat: no-repeat;
    width: 160px;
    height: 210px;
    margin-right: 15px;
}

.card51 {
    background: url('../img/card/card_51.png');
    background-repeat: no-repeat;
    width: 160px;
    height: 210px;
    position: relative;
    top: -3%;
    left: 160px;
    margin-top: 50px;
}

.card50 {
    background: url('../img/card/card_50.png');
    background-repeat: no-repeat;
    width: 160px;
    height: 210px;
    position: relative;
    top: -12%;
    left: 160px;
}

.card3 {
    background: url('../img/card/card_03.png');
    background-repeat: no-repeat;
    width: 160px;
    height: 210px;
    position: relative;
    top: -21%;
    left: 160px;
}

.card4 {
    background: url('../img/card/card_04.png');
    background-repeat: no-repeat;
    width: 160px;
    height: 210px;
    position: relative;
    top: -30%;
    left: 160px;
}

.card5 {
    background: url('../img/card/card_05.png');
    background-repeat: no-repeat;
    width: 160px;
    height: 210px;
    position: relative;
    top: -39%;
    left: 160px;
}

.card6 {
    background: url('../img/card/card_06.png');
    background-repeat: no-repeat;
    width: 160px;
    height: 210px;
    position: relative;
    top: -48%;
    left: 160px;
}

.card7 {
    background: url('../img/card/card_07.png');
    background-repeat: no-repeat;
    width: 160px;
    height: 210px;
    position: relative;
    top: -57%;
    left: 160px;
}

.card8 {
    background: url('../img/card/card_08.png');
    background-repeat: no-repeat;
    width: 160px;
    height: 210px;
    position: relative;
    top: -3%;
    left: 160px;
    margin-top: 50px;
}

.card20 {
    background: url('../img/card/card_20.png');
    background-repeat: no-repeat;
    width: 160px;
    height: 210px;
    position: relative;
    top: -12%;
    left: 160px;
}

.card31 {
    background: url('../img/card/card_31.png');
    background-repeat: no-repeat;
    width: 160px;
    height: 210px;
    position: relative;
    top: -21%;
    left: 160px;
}

.card9 {
    background: url('../img/card/card_09.png');
    background-repeat: no-repeat;
    width: 160px;
    height: 210px;
    position: relative;
    top: -30%;
    left: 160px;
}

.card15 {
    background: url('../img/card/card_15.png');
    background-repeat: no-repeat;
    width: 160px;
    height: 210px;
    position: relative;
    top: -39%;
    left: 160px;
}

.card16 {
    background: url('../img/card/card_16.png');
    background-repeat: no-repeat;
    width: 160px;
    height: 210px;
    position: relative;
    top: -48%;
    left: 160px;
}

.card21 {
    background: url('../img/card/card_21.png');
    background-repeat: no-repeat;
    width: 160px;
    height: 210px;
    position: relative;
    top: -57%;
    left: 160px;
}

.card33 {
    background: url('../img/card/card_33.png');
    background-repeat: no-repeat;
    width: 160px;
    height: 210px;
    position: relative;
    top: -3%;
    left: 160px;
    margin-top: 50px;
}

.card44 {
    background: url('../img/card/card_44.png');
    background-repeat: no-repeat;
    width: 160px;
    height: 210px;
    position: relative;
    top: -12%;
    left: 160px;
}

.card10 {
    background: url('../img/card/card_10.png');
    background-repeat: no-repeat;
    width: 160px;
    height: 210px;
    position: relative;
    top: -21%;
    left: 160px;
}

.card52 {
    background: url('../img/card/card_52.png');
    background-repeat: no-repeat;
    width: 160px;
    height: 210px;
    position: relative;
    top: -30%;
    left: 160px;
}

.card23 {
    background: url('../img/card/card_23.png');
    background-repeat: no-repeat;
    width: 160px;
    height: 210px;
    position: relative;
    top: -39%;
    left: 160px;
}

.card25 {
    background: url('../img/card/card_25.png');
    background-repeat: no-repeat;
    width: 160px;
    height: 210px;
    position: relative;
    top: -48%;
    left: 160px;
}

.card37 {
    background: url('../img/card/card_37.png');
    background-repeat: no-repeat;
    width: 160px;
    height: 210px;
    position: relative;
    top: -57%;
    left: 160px;
}

.card1 {
    background: url('../img/card/card_01.png');
    background-repeat: no-repeat;
    width: 160px;
    height: 210px;
    position: relative;
    top: -3%;
    left: 160px;
    margin-top: 50px;
}

.card2 {
    background: url('../img/card/card_02.png');
    background-repeat: no-repeat;
    width: 160px;
    height: 210px;
    position: relative;
    top: -12%;
    left: 160px;
}

.card26 {
    background: url('../img/card/card_26.png');
    background-repeat: no-repeat;
    width: 160px;
    height: 210px;
    position: relative;
    top: -21%;
    left: 160px;
}

.card41 {
    background: url('../img/card/card_41.png');
    background-repeat: no-repeat;
    width: 160px;
    height: 210px;
    position: relative;
    top: -30%;
    left: 160px;
}

.card45 {
    background: url('../img/card/card_45.png');
    background-repeat: no-repeat;
    width: 160px;
    height: 210px;
    position: relative;
    top: -39%;
    left: 160px;
}

.card36 {
    background: url('../img/card/card_36.png');
    background-repeat: no-repeat;
    width: 160px;
    height: 210px;
    position: relative;
    top: -48%;
    left: 160px;
}

.card29 {
    background: url('../img/card/card_29.png');
    background-repeat: no-repeat;
    width: 160px;
    height: 210px;
    position: relative;
    top: -57%;
    left: 160px;
}

.card11 {
    background: url('../img/card/card_11.png');
    background-repeat: no-repeat;
    width: 160px;
    height: 210px;
    position: relative;
    top: -3%;
    left: 160px;
    margin-top: 50px;
}

.card12 {
    background: url('../img/card/card_12.png');
    background-repeat: no-repeat;
    width: 160px;
    height: 210px;
    position: relative;
    top: -12%;
    left: 160px;
}

.card32 {
    background: url('../img/card/card_32.png');
    background-repeat: no-repeat;
    width: 160px;
    height: 210px;
    position: relative;
    top: -21%;
    left: 160px;
}

.card42 {
    background: url('../img/card/card_42.png');
    background-repeat: no-repeat;
    width: 160px;
    height: 210px;
    position: relative;
    top: -30%;
    left: 160px;
}

.card28 {
    background: url('../img/card/card_28.png');
    background-repeat: no-repeat;
    width: 160px;
    height: 210px;
    position: relative;
    top: -39%;
    left: 160px;
}

.card17 {
    background: url('../img/card/card_17.png');
    background-repeat: no-repeat;
    width: 160px;
    height: 210px;
    position: relative;
    top: -48%;
    left: 160px;
}

.card22 {
    background: url('../img/card/card_22.png');
    background-repeat: no-repeat;
    width: 160px;
    height: 210px;
    position: relative;
    top: -57%;
    left: 160px;
}

.card13 {
    background: url('../img/card/card_13.png');
    background-repeat: no-repeat;
    width: 160px;
    height: 210px;
    position: relative;
    top: -3%;
    left: 160px;
    margin-top: 50px;
}

.card14 {
    background: url('../img/card/card_14.png');
    background-repeat: no-repeat;
    width: 160px;
    height: 210px;
    position: relative;
    top: -12%;
    left: 160px;
}

.card24 {
    background: url('../img/card/card_24.png');
    background-repeat: no-repeat;
    width: 160px;
    height: 210px;
    position: relative;
    top: -21%;
    left: 160px;
}

.card27 {
    background: url('../img/card/card_27.png');
    background-repeat: no-repeat;
    width: 160px;
    height: 210px;
    position: relative;
    top: -30%;
    left: 160px;
}

.card40 {
    background: url('../img/card/card_40.png');
    background-repeat: no-repeat;
    width: 160px;
    height: 210px;
    position: relative;
    top: -39%;
    left: 160px;
}

.card19 {
    background: url('../img/card/card_19.png');
    background-repeat: no-repeat;
    width: 160px;
    height: 210px;
    position: relative;
    top: -48%;
    left: 160px;
}

.card18 {
    background: url('../img/card/card_18.png');
    background-repeat: no-repeat;
    width: 160px;
    height: 210px;
    position: relative;
    top: -57%;
    left: 160px;
}

.card34 {
    background: url('../img/card/card_34.png');
    background-repeat: no-repeat;
    width: 160px;
    height: 210px;
    position: relative;
    top: -3%;
    left: 160px;
    margin-top: 50px;
}

.card48 {
    background: url('../img/card/card_48.png');
    background-repeat: no-repeat;
    width: 160px;
    height: 210px;
    position: relative;
    top: -12%;
    left: 160px;
}

.card43 {
    background: url('../img/card/card_43.png');
    background-repeat: no-repeat;
    width: 160px;
    height: 210px;
    position: relative;
    top: -21%;
    left: 160px;
}

.card39 {
    background: url('../img/card/card_39.png');
    background-repeat: no-repeat;
    width: 160px;
    height: 210px;
    position: relative;
    top: -30%;
    left: 160px;
}

.card35 {
    background: url('../img/card/card_35.png');
    background-repeat: no-repeat;
    width: 160px;
    height: 210px;
    position: relative;
    top: -39%;
    left: 160px;
}

.card46 {
    background: url('../img/card/card_46.png');
    background-repeat: no-repeat;
    width: 160px;
    height: 210px;
    position: relative;
    top: -48%;
    left: 160px;
}

.card47 {
    background: url('../img/card/card_47.png');
    background-repeat: no-repeat;
    width: 160px;
    height: 210px;
    position: relative;
    top: -57%;
    left: 160px;
}

.card38 {
    background: url('../img/card/card_38.png');
    background-repeat: no-repeat;
    width: 160px;
    height: 210px;
    position: relative;
    top: -3%;
    left: 160px;
    margin-top: 50px;
}

.card49 {
    background: url('../img/card/card_38.png');
    background-repeat: no-repeat;
    width: 160px;
    height: 210px;
    position: relative;
    top: -12%;
    left: 160px;
}

.card30 {
    background: url('../img/card/card_30.png');
    background-repeat: no-repeat;
    width: 160px;
    height: 210px;
    position: relative;
    top: -21%;
    left: 160px;
}

.icon {
    position: absolute;
    right: 50px;
    top: 600px;
}

.undo:hover.overlay {
    opacity: 1;
}